@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
body{
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}
input,button{
    padding: 4px;
}

*{
    margin: 0;
    padding: 0;
}